@media screen and (max-width: 938px){
    
  header ion-icon{
      display: block;
      font-size: 1.5rem;
  }

  header h1{
      font-size: 1rem;
  }
  .navs{
      display: none;
  }

  .contentHeader{
      gap: 12rem;
  }
  
  .app{
      flex-direction: column;
      text-align: center;
  }
  .titulo{
      text-align: center;
  }
  
}

@media screen and (min-width: 938px){
  .contentHeader{
      justify-content: space-around;
  }
   iframe{
      width:40rem;
}
}

