@media (max-width: 700px) {
  body {
    overflow-x: hidden;
  }
  .nav-list {
    position: absolute;
    top: 8vh;
    right: 0;
    width: 50vw;
    height: 92vh;
    background: #23232e;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }
  .nav-list li {
    margin: auto;

  }
  .mobile-menu {
    display: block;

  }

  #caracteristicas {
    box-sizing: border-box;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  #caracteristicas_content{
    display: block;
    margin: auto;
  }

  #caracteristicas_content img{
    display: block;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-63%, -10%);
    transform: translateX(-50%);
    width: auto;
    height: auto;
    left: 50%;
    top: 50%; 
    position: relative;
  }

  img{
    display: block;
    width: 200px;
    height: 200px;
  }

  #caracteristicas_p1 iframe{
    display: block;
    width: 500px;
    height: 500px;
  }

  #caracteristicas_list{
    display: block;
    width: 40px;
    height: 100px;
  }
  #caracteristicas img{
    width: 500px;
    height: 300px;
  }

  .caracteristicas_margem{
    display: flex;
    align-items: center;
    margin-left: auto;

    margin: auto;
    width: 100%;
  }



  #problemas_do_so {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  #problemas_content{
    display: block;
  }



  #melhores_apps{
    font-size: 18px;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .app {
    display: block;
  }

  .app img{
    display: block;
    margin: auto;
    width: 200px;
    height: 200px;
  }

  #problemas_de_seguranca{
    font-size: 18px;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  #desempenho{
    font-size: 18px;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}