*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
:root{
  --themeColor:  #23232e;
  --secondColor: #69696d
}
body, html{
  background-color: var(--themeColor);
  color: white;
  scroll-behavior: smooth;
}

.activeResp .navsResp{
  top: 0;
}

header{
  background-color: var(--secondColor);
  color: white;
  position: fixed;
  width: 100vw;
  top: 0;
}

header ion-icon{
  display: none;
}

.navsResp{
  position: absolute;
  background-color: #23232e;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  top: -200rem;
  transition: 0.5s;
}


.content{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0rem 2rem;
}

.contentHeader{   
  padding: 1rem;
}
.navs{
  display: flex;
  gap: 4rem;

}
a{
  text-decoration: none;
  color: white;
  list-style: none;
  transition: 0.5s;
}

.navs a:hover{
  cursor: pointer;
  color: rgb(232, 255, 179);
}

.contentCaracteristicas{
  color: white;
  flex-direction: column;
  padding: 5rem 2rem;
  gap: 2rem;
}
.contentCaracteristicas h1{
  border-bottom: 1px solid white;
  font-size: 3rem;
}
.descricao{
  line-height: 1.5rem;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contentCaracteristicas2, .contentProblemasSO, .contentMelhores, .contentSeguranca, .contentDesempenho{
  flex-direction: column;
  line-height: 1.5rem;
  font-size: 1.2rem;  
  
}
.contentProblemasSO{
  padding: 8rem 2rem;;
}
ul{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
ul li{
  list-style: none;
  display: flex;
  gap: 1rem;
  
}

.titulo{
  border-bottom: 1px solid white;
  font-size: 3rem;
  line-height: 4rem;
  text-align: center;
}

.apps{
  padding: 3rem 0;
}

.melhoresDesc{
  text-align: center;
}

.app{
  display: flex;
  padding: 4rem 0;
  align-items: center;
  gap: 2rem;
}
.contentSeguranca{
  padding: 4rem;
}

footer{
  background-color: var(--secondColor);
}
.contentFooter{
  padding: 4rem;
  font-weight: bold;
  text-align: center;
}

body::-webkit-scrollbar{
  width: 0.5rem;
  background-color: var(--themeColor);
  
}
body::-webkit-scrollbar-thumb{
  border-radius: 5rem;
  background-color: rgba(255, 255,255,0.192);
}