* {
  margin: 0;
  padding: 0;;
  scroll-behavior: smooth;
  color:white;
  font-family: 'Fira Sans', sans-serif;
}

body{
  background-color: #23232e;
}

a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  opacity: 0.7;
}

.logo {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  background: #69696d;
  height: 8vh;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: #fff;
  margin: 8px;
  transition: 0.3s;
}

#caracteristicas{
  padding-top: 50px;
  font-size: 33px;
  justify-content: center;
  margin-top: 7%;
}

#caracteristicas h1{
  text-align: center;
  border-bottom: 2px solid #fff;
  margin: auto;
  padding-top: 3rem;
  width: 60%;
}

#caracteristicas_content{
  display: flex;
  text-align: center;
  padding-top: 3rem;
  width: 60%;
  text-align: justify;
}

.caracteristicas_p1{
  text-align: center;
  margin: auto;
  padding-top: 3rem;
  width: 60%;
  text-align: justify;
}

.iframe{
  display: flex;
  text-align: center;
  margin: auto;
  padding-top: 3rem;
  width: 60%;
  text-align: justify;
}

#caracteristicas img{
  height: 500px;
  display: flex;
  text-align: center;
  margin: auto;
  padding-top: 3rem;
  text-align: justify;
}

.caracteristicas_list{
  display: flex;
  text-align: center;
  margin: auto;
  padding-top: 3rem;
  width: 60%;
  text-align: justify;
  padding: 10px;
}

.caracteristicas_margem{
  display: block;
  margin: auto;
  justify-content: center;

}

#problemas_do_so{
  padding-top: 50px;
  font-size: 33px;
  justify-content: center;
  margin-top: 7%;
}

#problemas_do_so h1{
  text-align: center;
  border-bottom: 2px solid #fff;
  margin: auto;
  padding-top: 3rem;
  width: 60%;
}

#problemas_content{
  padding-top: 40px;
  display: flex;
  text-align: center;
  margin: auto;
  padding-top: 3rem;
  width: 60%;
  text-align: justify;
}

#problemas_content li{
  padding: 10px;
}

#melhores_apps{
  padding-top: 50px;
  font-size: 33px;
  justify-content: center;
  margin-top: 7%;
}

#melhores_apps h1{
  text-align: center;
  border-bottom: 2px solid #fff;
  margin: auto;
  padding-top: 3rem;
  width: 60%;
}

#app_content{
  display: flex;
  text-align: center;
  margin: auto;
  padding-top: 3rem;
  width: 60%;
  text-align: justify;
}

#apps_content{
  text-align: center;
  margin: auto;
  padding-top: 3rem;
  width: 60%;
}

.app{
  display: flex;
  text-align: center;
  margin: auto;
  padding-top: 3rem;
  width: 60%;
  text-align: justify;
  font: 33px;
}

.app img{
  width: 300px;
  height: 200px;
  margin-right: 50px;
}

.brave{
  margin-left: 35px;
  width: 400px;
  height: 400px;
}

#radius-border{
  border-radius: 153px;
}

#problemas_de_seguranca{
  padding-top: 50px;
  font-size: 33px;
  justify-content: center;
  margin-top: 7%;
}

#problemas_de_seguranca h1{
  text-align: center;
  border-bottom: 2px solid #fff;
  margin: auto;
  padding-top: 3rem;
  width: 60%;
}

#seguranca_content{
  display: flex;
  text-align: center;
  margin: auto;
  padding-top: 3rem;
  width: 60%;
  text-align: justify;
}

#desempenho{
  padding-top: 50px;
  font-size: 33px;
  justify-content: center;
  margin-top: 7%;
}

#desempenho h1{
  text-align: center;
  border-bottom: 2px solid #fff;
  margin: auto;
  padding-top: 3rem;
  width: 60%;
}

#desempenho_content{
  display: flex;
  text-align: center;
  margin: auto;
  padding-top: 3rem;
  width: 60%;
  text-align: justify;
  margin-bottom: 30px;
}

#footer{
  justify-content: center;
  margin-top: 7%;
  display: flex;
  text-align: center;
  margin: auto;
  padding-top: 3rem;
  width: 100%;
  text-align: justify;
  background: #69696d;
}

.nav-list.active {
  transform: translateX(0);
}

