* {
  margin: 0;
  padding: 0;;
  scroll-behavior: smooth;
  color:white;
  font-family: 'Fira Sans', sans-serif;
}

body{
  background-color: #23232e;
}

a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  opacity: 0.7;
}

.logo {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  background: #69696d;
  height: 8vh;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: #fff;
  margin: 8px;
  transition: 0.3s;
}

#caracteristicas{
  font-size: 35px;
  justify-content: center;
  margin-top: 7%;

}

#caracteristicas h1{
  text-align: center;
  border-bottom: 2px solid #fff;
  margin: auto;
  padding-top: 3rem;
  width: 60%;
}

#caracteristicas_content{
  display: flex;
  text-align: center;
  margin: auto;
  padding-top: 3rem;
  width: 60%;
  text-align: justify;
}

.caracteristicas_p1{
  text-align: center;
  margin: auto;
  padding-top: 3rem;
  width: 60%;
  text-align: justify;
}

.iframe{
  display: flex;
  text-align: center;
  margin: auto;
  padding-top: 3rem;
  width: 60%;
  text-align: justify;
}

.caracteristicas_p2{
  display: flex;
  text-align: center;
  margin: auto;
  padding-top: 3rem;
  width: 60%;
  text-align: justify;
}

.caracteristicas_list{
  display: flex;
  text-align: center;
  margin: auto;
  padding-top: 3rem;
  width: 60%;
  text-align: justify;
}

#problemas_do_so{
  font-size: 35px;
  justify-content: center;
  margin-top: 7%;
}

#problemas_do_so h1{
  text-align: center;
  border-bottom: 2px solid #fff;
  margin: auto;
  padding-top: 3rem;
  width: 60%;
}

#problemas_content{
  text-align: center;
  margin: auto;
  padding-top: 3rem;
  width: 60%;
}

#melhores_apps{
  font-size: 35px;
  justify-content: center;
  margin-top: 7%;
}

#melhores_apps h1{
  text-align: center;
  border-bottom: 2px solid #fff;
  margin: auto;
  padding-top: 3rem;
  width: 60%;
}

#apps_content{
  text-align: center;
  margin: auto;
  padding-top: 3rem;
  width: 60%;
}

#problemas_de_seguranca{
  font-size: 35px;
  justify-content: center;
  margin-top: 7%;
}

#problemas_de_seguranca h1{
  text-align: center;
  border-bottom: 2px solid #fff;
  margin: auto;
  padding-top: 3rem;
  width: 60%;
}

#seguranca_content{
  text-align: center;
  margin: auto;
  padding-top: 3rem;
  width: 60%;
}

#desempenho{
  font-size: 35px;
  justify-content: center;
  margin-top: 7%;
}

#desempenho h1{
  text-align: center;
  border-bottom: 2px solid #fff;
  margin: auto;
  padding-top: 3rem;
  width: 60%;
}

#desempenho_content{
  text-align: center;
  margin: auto;
  padding-top: 3rem;
  width: 60%;
}

@media (max-width: 999px) {
  body {
    overflow-x: hidden;
  }
  .nav-list {
    position: absolute;
    top: 8vh;
    right: 0;
    width: 50vw;
    height: 92vh;
    background: #23232e;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }
  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }
  .mobile-menu {
    display: block;
  }
}

.nav-list.active {
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}